:root {
   --pink: #f14e95;
   --bg: #000000;
   --shadow: 0 2px 2px rgba(0 0 0 / 0.5);
   --navy: #3887BE;
   --blue: #52D3D8;
   --yellow: #FFC436;
   --wedding: #FFF0CE;
}

/* fonts */
@font-face {
   font-family: Caruban;
   src: url(./fonts/Caruban-EBK8.ttf) format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: JavaCali;
   src: url(./fonts/JavaCalligraphy-w1Pw6.ttf) format('truetype');
   font-weight: normal;
   font-style: normal;
}

/* fonts */

body {
   font-size: 1.2rem;
   font-family: 'Work Sans', sans-serif;
   min-height: 100vh;
}

.hero::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('../img/hero-img.png');
   z-index: -1;
   background-size: cover;
   background-position: right;
}

.hero {
   position: relative;
   min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
   text-shadow: var(--shadow);
}

.hero h1 {
   font-family: 'JavaCali', cursive;
   font-size: 4.5rem;
}

.hero p b {
   font-family: 'JavaCali', cursive;
   letter-spacing: 3px;
}

.hero a {
   font-family: 'JavaCali', cursive;
   text-transform: lowercase;
   font-size: 1rem;
   letter-spacing: 2px;
}

.hero h4 {
   font-size: 1.6rem;
}

.hero p {
   font-size: 1.4rem;
}

.hero a {
   color: var(--pink);
   background-color: white;
   box-shadow: var(--shadow);
}

.hero a:hover {
   background-color: var(--pink);
   color: white;
}

.mynavbar {
   background-color: rgba(255, 255, 255, 0.2) !important;
   backdrop-filter: blur(4px);
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
   font-family: 'Sacramento', cursive;
   font-size: 3.2rem;
}

.mynavbar .nav-link {
   text-transform: uppercase;
   font-size: 1.5rem;
   color: var(--bg);
   font-weight: 400;
}

.mynavbar .nav-item img,
.mynavbar .nav-item svg {
   width: 2.5rem;
   height: 2.5rem;
}

.home {
   background-image: url('../img/home-img.png');
   min-height: 100vh;
   background-size: cover;
   background-position: center;
}

.home .container {
   padding-top: 5rem;
   padding-bottom: 5rem;
}

.home h1 {
   font-family: 'JavaCali', cursive;
   font-weight: 400;
   font-size: 2.5rem;
   padding-bottom: 1.5rem;
   color: var(--wedding);
}

.home h2 {
   color: var(--bg);
   font-family: 'Lora', cursive;
   font-size: 3rem;
   font-weight: bold;
   letter-spacing: 0.5px;
   margin-top: 2rem;
   -webkit-text-stroke: 1px white;
}

.home h3 {
   color: white;
   font-size: 1.5rem;
   margin-bottom: 1rem;
}

.home p {
   color: white;
   font-size: 1.4rem;
   margin-top: 1.4rem;
}

.info {
   background-image: url('../img/info-img.png');
   color: white;
   padding-top: 5rem;
   padding-bottom: 8rem;
   overflow: hidden;
   background-size: cover;
   background-position: center;
}

.info h2 {
   color: var(--yellow);
   font-family: 'Sacramento', cursive;
   font-size: 5rem;
   font-weight: bold;
}

.info .alamat {
   font-size: 1.2rem;
}

.info .description {
   font-size: 1.1rem;
   font-weight: 300;
}

.info .card {
   background-color: rgba(255, 255, 255, 0.2) !important;
   color: white !important;
   border: 1px solid white #999;
}

.info .card-header {
   border-bottom: 1px solid white;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
}

.info .card-body {
   font-size: 1rem;
}

.info .card-footer {
   border-top: 1px solid white;
   font-size: 1rem;
   font-weight: 400;
}

.comment {
   background-color: wheat;
   background-size: cover;
   min-height: 100vh;
   padding-top: 5rem;
   padding-bottom: 5rem;
}

.comment h2 {
   font-family: 'Sacramento', cursive;
   font-size: 4.5rem;
   font-weight: bold;
   color: var(--bg);
   padding-bottom: 1rem;
}

.comment p {
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
   font-size: 1rem;
}

.comment button {
   background-color: var(--blue);
   color: white;
   border: 1px solid var(--blue);
   width: 5rem;
   font-size: 1rem;
   font-weight: 500;
   margin-top: 1.1rem;
}

.comment button:hover {
   background-color: var(--navy);
   color: white;
   border: 1px solid var(--navy);
}

.comment a {
   text-decoration: none;
   font-size: 2rem;
   font-weight: 600;
   letter-spacing: 1px;
   color: var(--pink);
   text-transform: uppercase;
}

#myDiv {
   animation: 1s fadeIn;
   animation-duration: 2s;
}

.hidden-div {
   display: none;
}

footer {
   padding: 0.8rem;
   background-color: var(--navy);
   color: white;
}

footer small span {
   color: red;
}

footer a {
   color: var(--bg);
   font-weight: bold;
   text-decoration: none;
}

footer a:hover {
   color: white;
}

footer li {
   list-style: none;
   display: inline;
   padding: 1rem;
}

.audio-icon-wrapper {
   width: 4rem;
   height: 4rem;
   font-size: 4rem;
   position: fixed;
   bottom: 6.8rem;
   right: 2rem;
   cursor: pointer;
   color: white;
   opacity: 0.5;
   mix-blend-mode: difference;
   animation: rotating 4s linear infinite;
   line-height: 0;
   justify-content: center;
   align-items: center;
   display: none;
}

@keyframes rotating {
   from {
      transform: rotate(0);
   }

   to {
      transform: rotate(360deg);
   }
}

/* loading spinner */
.button-loader {
   position: relative;
   overflow: hidden;
}

.button-loader:after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: 24px;
   height: 24px;
   margin: -12px 0 0 -12px;
   border: 4px solid #fff;
   border-top: 4px solid #3498db;
   border-radius: 50%;
   animation: spin 1s linear infinite;
   box-sizing: border-box;
   transform-origin: 50% 50%;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}


/* Media Query */
/* laptop */
@media (max-width: 992px) {
   html {
      font-size: 80%;
   }

   .simply-countdown>.simply-section {
      padding: 70px;
   }
}

/* tablet */
@media (max-width: 768px) {
   html {
      font-size: 85%;
   }

   .simply-countdown>.simply-section {
      padding: 60px;
      margin: 5px;
   }

   .mynavbar .nav-link {
      font-size: 2rem;
      text-align: center;
   }

   .audio-icon-wrapper {
      bottom: 7rem;
   }

   .home p {
      margin-top: 4rem;
      color: var(--bg);
   }

   .home h3 {
      color: var(--bg);
   }


}

/* mobile */
@media (max-width: 576px) {
   html {
      font-size: 73%;
      font-weight: 400;
   }

   .home .container {
      padding-top: 13rem;
   }

   .simply-countdown>.simply-section {
      padding: 33px;
      margin: 3px;
   }

   .simply-countdown>.simply-section .simply-amount {
      font-size: 1.2rem;
   }

   .hero h1 {
      font-size: 3rem;
      margin-top: 4rem;
      font-weight: 400;
   }

   .home p {
      margin-top: 4rem;
      color: var(--bg);
   }

   .home h3 {
      color: var(--bg);
   }

   .home h2 {
      margin-top: 2rem;
   }

   .info .card {
      margin-top: 1rem;
   }

   .info .card-footer {
      font-weight: 300;
   }

   .rsvp h2 {
      font-size: 3.5rem;
      font-weight: 600;
   }

   .rsvp p {
      font-size: 1rem;
   }

   .rsvp button {
      margin-top: 0.5rem;
   }

   footer ul {
      padding-bottom: 3.5rem;
   }

   .audio-icon-wrapper {
      bottom: 12rem;
   }
}